<h3>Samples</h3>
<ul>
  <li>
    hello world (<%= link_to 'html', samples_hello_world_path %> |
    	<%= link_to 'pdf', samples_hello_world_path(:format => :pdf) %>)
  </li>
  <li>
    breakfast (<%= link_to 'html', samples_breakfast_path %> |
    	<%= link_to 'pdf', samples_breakfast_path(:format => :pdf) %>)
  </li>
</ul>
